* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #eeebd3;
}

#chart {
   width: 80vw;
   max-width: 950px;
   color: #437882;
   background: #3d4a58;
   margin: 15px auto 15px;
   border: 2px solid #2c3947;
}

#data {
   height: 700px;
}

#title {
   margin: 20px 0 0 15px;
}

#title,
#source_name {
   text-align: center;
   color: #dfbf78;
}

svg {
   display: block;
   margin: auto;
}

#source-title {
   font-weight: bold;
   font-size: 1.5rem;
}

#source-title,
.axis-label {
   fill: #dfbf78;
}

.bar {
   fill: #437882;
}

.bar:hover {
   fill: #dfbf78;
}

#x-axis,
#y-axis {
   stroke: #e48f2f;
   stroke-width: 0.5;
}

#tooltip {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   text-align: center;
   color: #0d1321;
   width: 150px;
   height: 50px;
   padding: 2px;
   background: #eeebd3;
   border-radius: 15px;
   pointer-events: none;
}
